.Question {
	margin: 16pt auto;
	color: var(--text-color);
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	width: 70%;
	min-width: 500pt;
	min-height: 144pt;
	background-color: var(--secondary-background-color);
	padding: 16pt;
	border-radius: 16pt;
	font-size: 36pt;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

@media screen and (orientation: portrait) {
	.Question {
		min-height: 224px !important;
		min-width: 0px;
		max-width: 100%;
		width: auto;
		font-size: 1.75em;
	}
}
